.App {
  max-width: 100%;
  text-align: center;
  padding: 1rem;
  /* opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.employee-info,
.featured-employee {
  padding: 1rem;
}

.featured-employee {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#aboutButton {
  background-color: white;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
  font-family: inherit;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 12px;
}

.itemImg {
  min-height: 200px;
  background-color: #eee;
}

button {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  color: black;
  font-size: 15px;
  font-family: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

.view-btn {
  min-width: 150px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
